$text: rgb(58, 58, 58);

.borderTab{
  border: 1px solid black;
  width: 20px;
  text-align: center;
}
.rightLayout{
	float: right;
}
.leftLayout{
  float: left;
}
.block{
  with:20px;
  height:20px;
}

.entityW{
  background-color: aqua;
}
.entityX{
  background-color: black;
}
.entityV{
  background-color: lime;
}
.entityT{
  background-color: Purple;
}
.entityZ{
  background-color: BlueViolet;
}
.entity-1{
  background-color: black
}
.entity1{
  background-color: blue;
}
.entity2{
  background-color: red;
}
.entity3{
  background-color: green;
}
.entity4{
  background-color: yellow;
}
.entity0{
  background-color: white;
}
.entityA{
  background-color: AliceBlue
}
